.coluna{
	/*height: 30px;*/
	/*background-color: red;*/
	text-align: center;
}

.espacamento{
	padding-top: 5%;
/*	margin-bottom: 10%;
*/}

.alinhamento{
	display: flex;
}


/*.selfie{
	padding-top: 3%;
	width: 400px;
	height: 300px;
	margin-right: 10%;
}

.descricao{
	display: flex;
	padding-top: 2%;
	margin-right: 40%;
	

}*/


.card{
	padding-top: 3%;
}

nav{
	box-shadow: 1px 0px 10px black;
	background-color: #D2691E;
	font-size: 90%;
}


a{
	font-family: 'Dancing Script', cursive;
 	font-style: bold;
	color: black;
	font-size: 180%;
}

a.navbar-brand{
	font-size: 180%;
	padding-left: 20px;
}


h2{
	font-family: 'Dancing Script', cursive;
 	font-style: bold;
	color: black;
	font-size: 180%;
	padding-top: 20px;
	padding-bottom: 20px;
}


section{
	padding-top: 2%;
}	


section h2{
	margin-bottom: 2%;
}


.quemsomos_conteudo{
	display: flex;
}


.agenda_conteudo{
	display: flex;
}


.footer{
	padding-top: 10px;
    padding-bottom: 10px;
    background-color: #DB7093;
}

.footer-titulo .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
}

.centerblock{
	display: block;
    margin-right: auto;
    margin-left: auto;
}

.footer-titulo {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    padding: 20px 0;
    text-transform: uppercase;

@media (min-width: 200px)
style.css:2189
.contato{
    padding-left: 25px;
img{
	background-image: 100%;
}


.footer-título{
	height: 1px;
 	background-color: #333;
  	text-align: center;
}

.footer-título span{
	background-color: white;
  position: relative;
  top: -0.5em;
  padding: 0 10px;
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:20px;
}

footer ul li{
    float:left;
}




.quemsomos_conteudo{
	display: flex;
}


.agenda_conteudo{
	display: flex;
}




